*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.top-head{
    background-color: rgb(36, 89, 237);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    height: 30px;
}

.top-head span{
    color: rgb(123, 16, 22);
    background-color: rgb(36, 89, 237);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-ul{
    display: flex;

}

.nav-li{
    list-style: none;
    padding: 1em;
}

.nav-anchor{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
}

.nav-anchor:hover{
    color: rgb(77, 77, 228);
}

.login-btn a{
    text-decoration: none;
    color: white;
    padding: 0.7em 1em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(39, 136, 240);
    border-radius: 5px;
}

.login-btn{
    border: none;
}

.login-btn a:hover{
    background-color: rgb(32, 67, 191);
}